div.appended{
    background-color: rgb(226, 200, 200);
    color: rgb(17, 17, 17);
    max-width: 800px;
    padding: 15px;
    font-size: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}